.calculatorContainer {
  margin-left: 10%;
  margin-right: 10%;
}

.displayContainer {
  display: inline-flex;
  min-width: 100%;
}

.display {
  border: 2px solid black;
  min-height: 76px;
  padding: 0px 14px;
  display: flex;
  align-items: center;
  flex-grow: 4;
}

.displayContents{
  font-size: 36px;
}


.displayResult {
  display: flex;
  flex-grow: 0;
}

.displayEquals {
  display: flex;
  align-items: center;
  font-size: 36px;
  margin-left: 10px;
}

.displayValue {
  display: flex;
  align-items: center;
  font-size: 36px;
  margin-left: 10px;
  /* border-bottom: 2px solid black; */
  text-decoration: underline;
}

.operandsContainer {
  /* padding: 10px; */
  display: flex;
  /* padding: 0% 10%; */
}

.operandsButtonsContainer {
  flex-grow: 4;
  display: flex;
  justify-content: space-around;
}

.operandsSpacerContainer {
  display: flex;
  flex-grow: 0;
}

.operandsButton {
  border-radius: 50%;
  width: 2em;
  height: 2em;
  /* height: auto; */
  font-size: 2em;
  cursor: pointer;
}

.operandsButtonEnabled {
  background-color: #43A6F0;
}

.operandsButtonDisabled {
  /* background-color: #1E4A6B;
  color: white; */
  cursor: not-allowed;
}